---
kind: ConfigMap
apiVersion: v1
metadata:
  name: alter-user-password-script
  namespace: {{ id_db_user_namespace }}
data:
  script.sh: |
    #!/bin/sh

    export PGUSER={{ id_pg_user_fact }}
    export PGPASSWORD={{ id_pg_user_password_fact }}
    export PGHOST=database.{{ id_infra_namespace }}.svc

    echo "# Altering user (${DB_USER})..."
    psql --command "ALTER USER ${DB_USER} WITH PASSWORD '${DB_USER_PASSWORD}'"
    echo "# Altered user (${DB_USER})"
