---
kind: Job
apiVersion: batch/v1
metadata:
  name: delete-user-db
  namespace: {{ id_db_user_namespace }}
spec:
  selector:
    name: delete-user-db
  template:
    metadata:
      labels:
        name: delete-user-db
    spec:
      serviceAccountName: {{ id_db_user_namespace_sa }}

      containers:
      - name: delete-user-db
        image: informaticsmatters/sql-client:{{ id_pg_sql_client_tag }}
        env:
        - name: DB_USER
          value: {{ id_db_user }}
        - name: DB
          value: {{ id_db }}
        volumeMounts:
        - mountPath: /home/client/script.sh
          name: delete-user-db-script
          subPath: script.sh
        resources:
          limits:
            cpu: 100m
          requests:
            cpu: 100m
            memory: 64Mi

      volumes:
      - name: delete-user-db-script
        configMap:
          name: delete-user-db-script
          defaultMode: 0777
      restartPolicy: Never
