---
kind: Secret
apiVersion: v1
metadata:
  name: database-secrets-{{ id_db }}
  namespace: {{ id_db_user_namespace }}
stringData:
  database_user: {{ id_db_user }}
  database_user_password: {{ id_db_user_password }}
  database_name: {{ id_db }}
